.pdf{
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
    
}

.bookshelf{
    align-items: center;
    width: 10%;
    height: 10%;
    margin-top: 250px;
    margin-left: 150px;
}

body{
    width: 1280px;
    height: 720px;
    background-color: #ae7b42;
}
